<!DOCTYPE html> 
<head>
	<meta charset="UTF-8">
		{{!-- Bootstrap --}}
   		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		{{!-- CSS --}}
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Munchy Munch Burger-chan!</title>
		{{!-- jQuery --}}
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burgerchan.js"></script>
	</head>
	<body>


		{{{ body }}}

        
	</body>
</html>